body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #06ed34;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #02ff20;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #29a55d;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}

.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #5cf10c;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #000000;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fffdfd;
  }
}
/*Primeiro ícone do menu nav*/
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #000000;
  background: #15fa04;
}
/*Texto do menu nav*/
.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #000000;
}
/*Ícones do menu nav*/
.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #000000;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}
/*Cor do menu nav mobile*/
.mobile-nav-toggle i {
  color: #000000;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}
/*Cor do "X" menu nav mobile*/
.mobile-nav-active .mobile-nav-toggle {
  color: #000000;
  background-color: #8bff07;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: rgb(18, 199, 18);
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 10;
  font-family: 'Teko', sans-serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 56px;
  color: #000000;
}

#hero p {
  color: #000000;
  margin: 15px 0 0 0;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 28px;
  font-family: 'Teko', sans-serif;
}

#hero details {
  font-family: 'Teko', sans-serif;
  margin-top: 25px;
  font-size: 40px;
}

#hero details:hover {
  color: #000000;
}

#hero details > a {
  font-family: 'Teko', sans-serif;
  color: white;
  font-size: 30px;
}

#hero details > a:hover {
  color:#000000
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 50px;
    font-weight: 200px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
  #hero details {
    font-family: 'Teko', sans-serif;
    margin-top: 25px;
    font-size: 30px;
  }
  
  #hero details > a {
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 20px;
  }
}

#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h4 {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 20px 0;
}

#footer .social-links {
  margin: 0 0 20px 0;
}

#footer .social-links a {
  font-size: 20px;
  display: inline-table;
  background: #44f907;
  color: #000000;
  line-height: 1;
  padding: 8px 0;
  margin-right: 5px;
  border-radius: 40%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #000000;
  color: #44f907;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}